!!! 5
%html
  %head
    %title My Blog
    %link(rel="stylesheet" media="screen" href="/css/blog.css")
    %script(type="text/javascript" src="/js/jquery.min.js")
    %script(type="text/javascript" src="/js/jquery.timeago.js")
    %script(type="text/javascript" src="/js/blog.js")

  %body
    = yield
