%article
  %header
    %h1
      %a{ href: url(article.slug) }
        = article.title
      %time.timeago{ datetime: article.date.xmlschema }
        = article.date.strftime "%Y/%m/%d"
  %section.content
    = markdown article.summary
    - if article.has_more
      %a{ href: url(article.slug) } Read more ...
